In [2]:
# https://stackoverflow.com/questions/54064245/plot-ly-offline-mode-in-jupyter-lab-not-displaying-plots
import plotly.io as pio
pio.renderers.default = 'iframe' # or 'notebook' or 'colab' or 'jupyterlab'

In [12]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import pandas as pd

In [5]:
df_gapminder = px.data.gapminder()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4

# distribution chart (with 2 axis)

In [9]:
df_gapminder_agrup = df_gapminder.groupby(['year']) \
                  .agg(pop_avg=('pop', 'mean'),
                       lifeExp_avg=('lifeExp', 'mean')
                      ) \
                  .reset_index(drop=False)

In [10]:
df_gapminder_agrup

    year       pop_avg  lifeExp_avg
0   1952  1.695040e+07    49.057620
1   1957  1.876341e+07    51.507401
2   1962  2.042101e+07    53.609249
3   1967  2.265830e+07    55.678290
4   1972  2.518998e+07    57.647386
5   1977  2.767638e+07    59.570157
6   1982  3.020730e+07    61.533197
7   1987  3.303857e+07    63.212613
8   1992  3.599092e+07    64.160338
9   1997  3.883947e+07    65.014676
10  2002  4.145759e+07    65.694923
11  2007  4.402122e+07    67.007423

In [18]:

#print(query_to_plot.format(var=var,limit=limit))
fig = make_subplots(specs=[[{"secondary_y": True}]])
# y1 series
fig.add_bar(x=df_gapminder_agrup.year, y=df_gapminder_agrup.pop_avg, name='pop',text=df_gapminder_agrup.pop_avg)
# y2 series
fig.add_trace(go.Scatter(x=df_gapminder_agrup.year, y=df_gapminder_agrup.lifeExp_avg, name="lifeExp_avg lifeExp_avg"),secondary_y=True,)

fig.add_hline(y=50,line_width=2, line_dash="dash", line_color="grey",secondary_y=True,annotation_text="AVG", annotation_position="top left",annotation=dict(font_size=10, font_family="Times New Roman"),)  
fig.add_annotation(x=1950, y=50,text="70 years", xref="x",yref="y2",showarrow=True,
                   font=dict(family="Courier New, monospace",size=16,color="grey"),      
                                   align="center",
                                arrowhead=2,
                                arrowsize=1,
                                arrowwidth=2,
                                arrowcolor="#636363",
                                ax=20,
                                ay=-30,
                                bordercolor="#c7c7c7",
                                borderwidth=2,
                                borderpad=4,
                                bgcolor="#ff7f0e",
                                opacity=0.8)
fig.update_layout(height=800,title_text='chart name')
fig.show()

# series chart

In [20]:
df_gapminder[df_gapminder.country=='United States'].head(3)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
1608,United States,Americas,1952,68.44,157553000,13990.48208,USA,840
1609,United States,Americas,1957,69.49,171984000,14847.12712,USA,840
1610,United States,Americas,1962,70.21,186538000,16173.14586,USA,840

In [26]:
fig = go.Figure()
fig.update_layout(
    height=800,
    title_text= ' metrics'
)
# collab
fig.add_trace(go.Scatter(x=df_gapminder[df_gapminder.country=='United States'].year, 
                         y=df_gapminder[df_gapminder.country=='United States'].lifeExp,
                         mode='lines+markers', 
                         name='lifeExp US.', 
                         line_color="green"))
# hybrid
fig.add_trace(go.Scatter(x=df_gapminder[df_gapminder.country=='Germany'].year, 
                         y=df_gapminder[df_gapminder.country=='Germany'].lifeExp,
                         mode='lines+markers', 
                         name='lifeExp Germany', 
                         line_color="red"))


# vertical line
fig.add_vrect(x0="1970", x1="1980", 
              annotation_text="area 1", annotation_position="bottom left",
              annotation=dict(font_size=10, font_family="Times New Roman"),
              fillcolor="green", opacity=0.20, line_width=0)
fig.add_vrect(x0="1999", x1="2001", 
              annotation_text="area 2", annotation_position="bottom left",
              annotation=dict(font_size=10, font_family="Times New Roman"),
              fillcolor="green", opacity=0.20, line_width=0)
fig.show()

# Scatter with areas

In [38]:
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
sp_list = table[0]

In [32]:
pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 15.3 MB/s
Requirement already satisfied: requests>=2.19.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from pandas-datareader) (2.26.0)
Requirement already satisfied: pandas>=0.23 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from pandas-datareader) (1.1.5)
Requirement already satisfied: lxml in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from pandas-datareader) (4.6.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from pandas>=0.23->pandas-datareader) (2021.1)
Requirement already satisfied: numpy>=1.15.4 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from pandas>=0.23->pandas-datareader) (1.18.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from requests>=2.19.0->pandas-datareader) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from requests>=2.19.0->pandas-datareader) (2021.5.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from requests>=2.19.0->pandas-datareader) (2.0.9)
Requirement already satisfied: idna<4,>=2.5 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from requests>=2.19.0->pandas-datareader) (3.1)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [54]:
import pandas_datareader.data as web
import datetime  
start = datetime.datetime(2022,1,1)
end = datetime.datetime(2022,1,31)

In [60]:
df_sp_500 = pd.DataFrame()
for s in range(0,50):
    print (sp_list.Symbol[s])
    df_downloard = web.DataReader(sp_list.Symbol[s],"yahoo",start,end)
    df_downloard['symbol'] = sp_list.Symbol[s]
    df_sp_500 = df_sp_500.append(df_downloard)

MMM
AOS
ABT
ABBV
ABMD
ACN
ATVI
ADM
ADBE
ADP
AAP
AES
AFL
A
APD
AKAM
ALK
ALB
ARE
ALGN
ALLE
LNT
ALL
GOOGL
GOOG
MO
AMZN
AMCR
AMD
AEE
AAL
AEP
AXP
AIG
AMT
AWK
AMP
ABC
AME
AMGN
APH
ADI
ANSS
AON
APA
AAPL
AMAT
APTV
ANET
AJG

In [51]:
df_sp_500.head(3)

,High,Low,Open,Close,Volume,Adj Close,symbol
Date,,,,,,,
2022-01-03,179.089996,175.839996,178.320007,177.740005,1930700.0,174.277115,MMM
2022-01-04,181.259995,178.029999,178.479996,180.229996,2522200.0,176.718582,MMM
2022-01-05,181.779999,177.000000,177.130005,179.490005,2952400.0,175.993027,MMM

In [61]:
df_sp_500_agrup =  df_sp_500.groupby(['symbol']) \
                  .agg(Volume_avg=('Volume', 'mean'),
                       Close_avg=('Close', 'mean')
                      ) \
                  .reset_index(drop=False)

In [66]:
df_sp_500_agrup = df_sp_500_agrup[(df_sp_500_agrup.Volume_avg<10000000)&(df_sp_500_agrup.Close_avg<500)]

In [67]:
# with areas
fig = px.scatter(df_sp_500_agrup, x="Volume_avg", y="Close_avg", text="symbol", color="symbol", symbol="symbol")
fig.update_traces(textposition='top center')

# Add shapes (red square)
fig.add_shape(type="rect", xref="x", yref="y",
    x0=6000000, y0=0,
    x1=10000000, y1=200,
     fillcolor="red", opacity=0.5,layer="below", line_width=0)
# Add shapes (yellow square)
fig.add_shape(type="rect", xref="x", yref="y",
    x0=2000000, y0=0,
    x1=6000000, y1=300,
     fillcolor="Yellow", opacity=0.5,layer="below", line_width=0)

fig.update_layout(
    height=1000,
    title_text='close price & volume January 2022 sp500',
    #plot_bgcolor='LightGreen'
)
fig.show()